[submodule "third/nemo"]
	path = third/nemo
	url = https://github.com/Qihoo360/nemo.git
[submodule "third/glog"]
	path = third/glog
	url = https://github.com/Qihoo360/glog.git
[submodule "third/pink"]
	path = third/pink
	url = https://github.com/Qihoo360/pink.git
[submodule "third/slash"]
	path = third/slash
	url = https://github.com/Qihoo360/slash.git
[submodule "third/nemo-rocksdb"]
	path = third/nemo-rocksdb
	url = https://github.com/Qihoo360/nemo-rocksdb.git
[submodule "third/rocksdb"]
	path = third/rocksdb
	url = https://github.com/facebook/rocksdb.git
