[submodule "third/glog"]
	path = third/glog
	url = https://github.com/Qihoo360/glog.git
[submodule "third/pink"]
	path = third/pink
	url = https://github.com/PikaLabs/pink.git
[submodule "third/slash"]
	path = third/slash
	url = https://github.com/Qihoo360/slash.git
[submodule "third/rocksdb"]
	path = third/rocksdb
	url = https://github.com/facebook/rocksdb.git
[submodule "third/blackwidow"]
	path = third/blackwidow
	url = https://github.com/Axlgrep/blackwidow.git
