name: Release

on:
  push:
    tags:
      - "v*.*.*"

env:
  BUILD_TYPE: Release

jobs:
  build:
    name: Build binary
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            name: ${{ github.event.repository.name }}-${{ github.ref_name }}-ubuntu-amd64.tar.gz
          - os: macos-latest
            name: ${{ github.event.repository.name }}-${{ github.ref_name }}-macos-amd64.tar.gz

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Release build os - ${{ matrix.os }}
        run: |
          chmod +x ci/release-build.sh
          ./ci/release-build.sh install ${{ matrix.os }} ${{ env.BUILD_TYPE }}

      - name: Calculate checksum and rename binary
        run: |
          chmod +x ci/release-build.sh
          ./ci/release-build.sh checksum ${{ github.event.repository.name }} ${{ matrix.name }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.name }}
          path: build/${{ matrix.name }}

      - name: Upload checksum of artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.name }}.sha256sum
          path: build/${{ matrix.name }}.sha256sum

  rocky:
    runs-on: ubuntu-latest
    container:
      image: rockylinux:9
    env:
      name: ${{ github.event.repository.name }}-${{ github.ref_name }}-rocky-amd64.tar.gz
    steps:
      - name: Install deps
        run: |
          dnf update -y
          dnf install -y bash cmake wget git autoconf gcc perl-Digest-SHA tcl which tar g++ tar epel-release gcc-c++ libstdc++-devel gcc-toolset-13

      - name: Checkout sources
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Release build os - rocky
        run: |
          chmod +x ci/release-build.sh
          ./ci/release-build.sh install rocky ${{ env.BUILD_TYPE }} -xe

      - name: Calculate checksum and rename binary
        shell: bash
        run: ./ci/release-build.sh checksum ${{ github.event.repository.name }} ${{ env.name }}

      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.name }}
          path: build/${{ env.name }}

      - name: Upload checksum of artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.name }}.sha256sum
          path: build/${{ env.name }}.sha256sum

  release:
    name: Release artifacts
    needs: [ build, rocky ]
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v3

      - name: Publish release
        uses: softprops/action-gh-release@v1
        with:
          name: "Release ${{ github.ref_name }}"
          generate_release_notes: true
          files: |
            **/${{ github.event.repository.name }}-*
